@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h3>Add User</h3>
<form method="post" asp-action="/user/add">
    <label for="username">Username: </label>
    <input type="text" name="username" /><br />
    <label for="email">Email: </label>
    <input type="email" name="email" /><br/>
    <label for="password">Password: </label>
    <input type="password" name="password" /><br/>
    <input type="submit" value="Add User" />
</form>